/* ====== style ====== */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: var(--bg-color);
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: -0.01rem;
  line-height: 1.5;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

/* root */
:root {
  --sides-space: 4rem;
  --sides-space-small: 1rem;
  --bg-color: #000;
  --text-color: #fff;
  --card-color: #202020;
  --card-text-color: #fff;
  --btn-color: #5d5d5d;
  --btn-hover-color: #888;
}

/* text */
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

/* ====== header ====== */
.header {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 2rem var(--sides-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}

/* logo */
.logo a {
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-size: 1.6rem;
  color: var(--text-color);
  font-family: 'DM Serif Display', serif;
  font-weight: 800;
  font-style: italic;
  transform: rotate(-8deg);
}

/* menu */
.nav {
  display: flex;
  align-items: center;
}

.nav .nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav .nav-menu li {
  margin-left: 2rem;
}

.nav .nav-menu li a {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.1s ease;
}
.nav .nav-menu li a:hover {
  border-bottom: 2px solid var(--text-color);
}

/* toggle (初期状態では非表示) */
.toggle-menu {
  display: none; /* デスクトップ表示では非表示 */
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px; /* パディングを追加してクリック領域を広げる */
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.toggle-menu span {
  display: block;
  width: 24px; /* 線の幅を調整 */
  height: 3px; /* 線の太さを調整 */
  background-color: #fff;
  transition: all 0.3s ease;
  border-radius: 1px;
}

/* ====== main ====== */
/* layout */
.container {
  height: auto;
  padding: 12rem var(--sides-space) 0 var(--sides-space);
  background-image: url('img/orange.svg'), url('img/blue.svg'),
    url('img/green.svg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 35%, 35%, 30%;
  background-position: top 25rem right 5%, top 50rem left 5%, top 70rem right 5%;
  opacity: 0;
  transition: opacity 3.2s ease;
}

.fade-in {
  opacity: 1;
}

.hero-content {
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
}

/* text */
.title-text {
  font-size: 8rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.text-content {
  width: clamp(300px, 60%, 600px);
  margin: 5rem auto 8rem auto;
  text-align: center;
}

.desc-text {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

/* icon */
.links {
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.fa-brands {
  font-size: 3.2rem;
  color: var(--text-color);
  transition: color 0.3s;
  margin: 3rem 1.5rem 6rem 1.5rem;
}

.fa-github:hover {
  color: #555;
}

.fa-behance:hover {
  color: #1769ff;
}

.fa-solid {
  font-size: 3.2rem;
  color: var(--text-color);
  transition: color 0.3s;
  margin: 3rem 1.5rem 6rem 1.5rem;
}

.fa-envelope:hover {
  color: #cecece;
}

/* ====== posts ====== */
/* layout */
.works-content {
  width: clamp(300px, 50%, 600px);
  margin: 5rem auto 8rem auto;
  text-align: center;
}

#works {
  display: grid;
  gap: 2rem;
  justify-content: center;
  padding: 0;
}

/* post-card */
.work-item {
  background: var(--card-color);
  color: var(--card-text-color);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 2rem 1.5rem;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.work-item:hover {
  transform: translateY(-5px);
}

/* img */
.work-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

/* title-text */
.work-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

/* desc-text */
.work-description {
  font-size: 1.2rem;
  font-weight: 400;
}

/* link-btn */
.work-link {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  background: var(--btn-color);
  color: var(--text-color);
  border-radius: 2rem;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease;
}

.work-link:hover {
  background: var(--btn-hover-color);
  transform: scale(1.05);
}

/* ====== footer ====== */
.footer {
  background-color: var(--bg-color);
  padding: 6rem 0 3rem 0;
  text-align: center;
  margin-top: 6rem;
}

.footer .copyright {
  color: var(--text-color);
  font-size: 1.1rem;
}

/* ====== about ====== */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 4rem;
}
.grid-item {
  background: #000;
  color: var(--card-text-color);
  border: 1px solid var(--card-color);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 2rem 1.5rem;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.grid-item:hover {
  transform: translateY(-5px);
}

/* 🎯 ====== responsive-layout ====== */
@media (min-width: 1024px) {
  #works {
    grid-template-columns: repeat(1, 1fr); /* PC：1列 */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #works {
    grid-template-columns: repeat(1, 1fr); /* タブレット：1列 */
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  #works {
    grid-template-columns: repeat(1, 1fr); /* スマホ（中）：1列 */
  }
}

@media (max-width: 479px) {
  #works {
    grid-template-columns: repeat(1, 1fr); /* スマホ（小）：1列 */
  }
}

/* ====== responsive ====== */
@media (max-width: 768px) {
  body {
    padding: 60px 0 0 0;
  }

  .header {
    padding: var(--sides-space-small);
  }

  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 20;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;
  }

  .nav.open {
    display: flex;
  }

  .nav .nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    flex-direction: column;
  }

  .nav .nav-menu li {
    margin: 20px 0;
  }

  .nav .nav-menu li a {
    color: #000;
    font-size: 3rem;
    text-decoration: none;
  }

  .nav .nav-menu li a:hover {
    border-bottom: 5px solid #000;
  }

  .toggle-menu {
    display: flex;
    position: absolute;
    top: 50%; /* 縦方向の中央に配置 */
    right: 20px;
    z-index: 21;
    transform: translateY(-50%);
  }

  .toggle-menu.open span:nth-child(1) {
    /* メニューオープン時、1本目の線を回転 */
    transform-origin: top right; /* 回転の中心を右上端に変更 */
    transform: rotate(-45deg);
    background-color: var(--bg-color);
  }

  .toggle-menu.open span:nth-child(2) {
    /* メニューオープン時、2本目の線を非表示 */
    opacity: 0;
  }

  .toggle-menu.open span:nth-child(3) {
    /* メニューオープン時、3本目の線を回転 */
    transform-origin: bottom right; /* 回転の中心を右下端に変更 */
    transform: rotate(45deg);
    background-color: var(--bg-color);
  }

  .container {
    padding: 6rem var(--sides-space-small) 0 var(--sides-space-small);
  }

  .hero-content {
    width: 100%;
    margin: auto 0;
  }

  .title-text {
    font-size: 4rem;
  }

  .desc-text {
    font-size: 2rem;
  }

  .fa-brands {
    font-size: 2.5rem;
    margin: 3rem 1rem 6rem 1rem;
  }

  .fa-solid {
    font-size: 2.5rem;
    margin: 3rem 1rem 6rem 1rem;
  }

  .works-content {
    width: 90%;
  }

  #works {
    padding: 0;
  }

  .work-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem 0;
  }

  .work-description {
    font-size: 1rem;
    font-weight: 400;
  }

  .grid {
    grid-template-columns: 1fr; /* 1列にする */
  }
}
