/* ====== #works ====== */
@media (min-width: 1024px) {
  #works {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #works {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  #works {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 479px) {
  #works {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ====== sp ====== */
@media (max-width: 768px) {
  body {
    padding: 60px 0 0 0;
  }

  .header {
    padding: var(--sides-space-small);
  }

  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 20;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;
  }

  .nav.open {
    display: flex;
  }

  .nav .nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    flex-direction: column;
  }

  .nav .nav-menu li {
    margin: 20px 0;
  }

  .nav .nav-menu li a {
    color: #000;
    font-size: 3rem;
    text-decoration: none;
  }

  .nav .nav-menu li a:hover {
    border-bottom: 5px solid #000;
  }

  .toggle-menu {
    display: flex;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 21;
    transform: translateY(-50%);
  }

  .toggle-menu.open span:nth-child(1) {
    transform-origin: top right;
    transform: rotate(-45deg);
    background-color: var(--bg-color);
  }

  .toggle-menu.open span:nth-child(2) {
    opacity: 0;
  }

  .toggle-menu.open span:nth-child(3) {
    transform-origin: bottom right;
    transform: rotate(45deg);
    background-color: var(--bg-color);
  }

  .container {
    padding: 6rem var(--sides-space-small) 0 var(--sides-space-small);
  }

  .hero-content {
    width: 100%;
    margin: auto 0;
  }

  .title-text {
    font-size: 4rem;
  }

  .desc-text {
    font-size: 2rem;
  }

  .fa-brands {
    font-size: 2.5rem;
    margin: 3rem 1rem 6rem 1rem;
  }

  .fa-solid {
    font-size: 2.5rem;
    margin: 3rem 1rem 6rem 1rem;
  }

  .works-content {
    width: 90%;
  }

  #works {
    padding: 0;
  }

  .work-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem 0;
  }

  .work-description {
    font-size: 1rem;
    font-weight: 400;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
